<div class="p-shadow-1">
  <div class="p-d-flex transplace">
    <img class="logo" src="../assets/Images/transplace logo.png">
  </div>
<h3>Log in to your account</h3>
<div class="p-d-flex p-flex-column">
    <label for="Email" class="inputlabel">Email ID</label>
    <input class="inputtext" type="text" pInputText>
</div>
<div class="p-d-flex p-flex-column">
    <label for="Password" class="inputlabel">Password</label>
    <input class="inputtext" type="text" pInputText>
</div>
<div class="p-d-flex p-jc-between">
  <div class="p-field-checkbox">
    <p-checkbox class="checkbox" name="signed in" inputId="signed in"></p-checkbox>
    <label class="text">Keep me signed it</label>
</div>
  <p class="textlabel">Forgot Password?</p>
</div>
    <button pButton pRipple type="button" class="p-button-rounded p-button-danger" label="Log In"></button>
</div>
